.topMenu {
  padding : 5px;
  border-radius: 5px;
  text-decoration : none;
}
.topMenu:hover{
  border : 1px solid black;
}
.clrRed {
  color:white;
  background-color:#d20000;
}

.clrGreen {
  color:white;
  background-color:#00c300;
}

.clrBlue {
  color:white;
  background-color:#004bff;
}
