.topMenu {
  padding : 5px;
  text-decoration : none;
}

.clrRed {
  color:white;
  background-color:#d20000;
}

.clrGreen {
  color:white;
  background-color:#00c300;
}

.clrBlue {
  color:white;
  background-color:#004bff;
}
